<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Remote.Linq.NoDoc" Description=" " ToolsVersion="14.0">
  <Include Path="Style.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
  </Rules>
</RuleSet>
