USE [master]
GO

PRINT '## DROP DATABASE #######################################################'
GO
IF DB_ID (N'SubqueryDB') IS NOT NULL
BEGIN
    PRINT '   DROP DATABASE [SubqueryDB]'
    EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'SubqueryDB'
    ALTER DATABASE [SubqueryDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [SubqueryDB];
END

PRINT '## CREATE DATABASE #######################################################'
GO
DECLARE @sql NVARCHAR(1024), @path VARCHAR(256)

SELECT @path = PHYSICAL_NAME FROM sys.master_files WHERE database_id = DB_ID(N'master') AND TYPE_DESC = 'ROWS'
SET @path = REVERSE(RIGHT(REVERSE(@path),(LEN(@path)-CHARINDEX('\\', REVERSE(@path),1))+1))

PRINT '   CREATE DATABASE [SubqueryDB]'
PRINT '   '+@path+'SubqueryDB.mdf'
PRINT '   '+@path+'SubqueryDB_log.ldf'

SET @sql = 
N'CREATE DATABASE [SubqueryDB] 
  CONTAINMENT = NONE 
  ON  PRIMARY 
  ( NAME = N''SubqueryDB'', FILENAME = N'''+@path+N'SubqueryDB.mdf'' , SIZE = 5MB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ) 
  LOG ON 
  ( NAME = N''SubqueryDB_Log'', FILENAME = N'''+@path+N'SubqueryDB_log.ldf'' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)'
EXEC sp_executesql @sql

ALTER DATABASE [SubqueryDB] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SubqueryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SubqueryDB]
GO


PRINT '## CREATE USER #######################################################'
IF NOT EXISTS (SELECT * FROM master.sys.server_principals WHERE name = 'Demo')
  CREATE LOGIN [Demo] WITH PASSWORD = 'demo(!)Password', DEFAULT_DATABASE=[SubqueryDB];
CREATE USER [Demo] FOR LOGIN [Demo];
ALTER ROLE [db_owner] ADD MEMBER [Demo];
GO


PRINT '## CREATE TABLES #######################################################'
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

PRINT '   CREATE TABLE [dbo].[Products]'
GO
CREATE TABLE [dbo].[Products](
    [Id] [int] NOT NULL PRIMARY KEY,
    [Name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO

PRINT '   CREATE TABLE [dbo].[OrderItems]'
GO
CREATE TABLE [dbo].[OrderItems](
    [Id] [int] NOT NULL PRIMARY KEY,
    [ProductId] [int] NOT NULL FOREIGN KEY REFERENCES [dbo].[Products]([Id]),
    [Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
 
 
PRINT '## CREATE DATA #######################################################'
GO
USE [master]
GO
USE [SubqueryDB]
GO
SET NOCOUNT ON 
GO

PRINT '   INSERT PRODUCTS'
GO
INSERT INTO [dbo].[Products]([Id],[Name])
          SELECT 101, 'Apple'
UNION ALL SELECT 102, 'Pear'
UNION ALL SELECT 103, 'Pineapple'
UNION ALL SELECT 104, 'Car'
UNION ALL SELECT 105, 'Bicycle'
GO

PRINT '   INSERT ORDER ITEMS'
INSERT INTO [dbo].[OrderItems]([Id],[ProductId],[Quantity])
          SELECT 10001, 101, 2
UNION ALL SELECT 10002, 102, 3
UNION ALL SELECT 10003, 105, 3
GO
