@page "/about"
<h3>About</h3>
<p>
    This WebAssembly sample application demonstrates and end-to-end linq query in action:
    <ol>
        <li>The linq query is composed in WebAssembly and sent to the web server</li>
        <li>On the web server, the query expression is applied to an OData provider<br />for data retrieval from an external OData service</li>
    </ol>
</p>
<p>
    <b>Data Source</b>
    <br/>
    <a href="https://services.odata.org/TripPinRESTierService/People" target="_blank">https://services.odata.org/TripPinRESTierService/People</a>
</p>
<p>
    <b>Server Side Data Adapter</b>
    <br/>
    <i><a href="https://www.nuget.org/packages/Microsoft.OData.Client" target="_blank">Microsoft.OData.Client</a> Package</i>
</p>
<p>
    <b>Client Side (WebAssembly) Data Adapter</b>
    <br/> 
    <i><a href="https://www.nuget.org/packages/Remote.Linq" target="_blank">Remote.Linq</a> Package</i>
</p>